body {
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	font-family: "trebuchet ms",sans-serif;
	flex-flow: center;
    flex-direction: row-reverse;
}
header {
	width: 100%;
	background-color: white;
	color: #00d66c;
}
nav {
	padding: 0.4em;
	width: 100%;
}
main {
	width: 100%;
    order: 2;
}
.logo {
	width: 2.7em;
	height: 2.7em;
	right: 0;
	top: 0;
	padding: 0.2em;
	position: absolute;
}
@media only screen and (min-width : 60em) {
	body {
		justify-content: center;
	}
	nav>form {
		width: 75%;
	}
}

@media only screen and (min-width : 92em) {
    aside#favorieten {
        display: flex;
        order: 3;
    }
}
